// 底部
.footer{
  @extend %clearfix;
  width: 100%;
  border-top: 1px solid #e0e0e0;
  margin-top: 10px;
  padding: 10px 0;
}
.foot-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  font-size: $font-size-sm;
  h3 {
    font-weight: bold;
    color: $ftColor3;
  }
  a {
    color: $ftColor9;
    line-height: $h30;
    &:hover {
      color: $base-red-color;
    }
  }
}
.foot-info{
  @extend %clearfix;
  text-align: center;
  line-height: 40px;
  font-size: $font-size-sm;
  img {
    width: 120px;
    height: 40px;
    vertical-align: middle;
  }
  b {
    font-size: $font-size-md;
    color: $base-red-color;
    font-weight: bold;
  }
}
.copyright{
  text-align: center;
  color: $ftColor9;
  font-size: $font-size-sm;
}
